.heading {
  text-align: center;
}
.field {
  width: 80%;
  margin: 20px auto;
}
.field input {
  width: 80%;
  padding: 10px;
}
.btn {
  padding: 7px 20px;
  background-color: blue;
  margin-left: 10px;
  border-radius: 10px;
}
.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  row-gap: 10px;
}
.card {
  max-width: 400px;
  max-height: 800px;
  overflow: auto;
}

.card img {
  width: 100%;
}

@media (max-width: 600px) {
  .main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    row-gap: 10px;
  }
}
